USE [master]
GO
/****** Object:  Database [Covid19DW]    Script Date: 2/11/2021 6:43:58 PM ******/
CREATE DATABASE [Covid19DW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Covid19DW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.TRAININGSERVER\MSSQL\DATA\Covid19DW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Covid19DW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.TRAININGSERVER\MSSQL\DATA\Covid19DW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Covid19DW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Covid19DW]
GO
USE [Covid19DW]
GO
/****** Object:  Table [dbo].[DimDate]    Script Date: 2/11/2021 6:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate](
	[DateKey] [int] NOT NULL,
	[FullDate] [date] NULL,
	[CalendarYear] [int] NULL,
	[CalendarMonth] [int] NULL,
	[CalendarDay] [int] NULL,
	[NameOfMonth] [varchar](10) NULL,
	[NameOfDay] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimGeography]    Script Date: 2/11/2021 6:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimGeography](
	[GeographyKey] [int] IDENTITY(1,1) NOT NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[StateAbbreviation] [char](10) NULL,
 CONSTRAINT [PK__DimGeogr__F81E8E6BFA99DACD] PRIMARY KEY CLUSTERED 
(
	[GeographyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimPatient]    Script Date: 2/11/2021 6:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimPatient](
	[PatientKey] [int] IDENTITY(1,1) NOT NULL,
	[Age] [int] NULL,
	[Ethnicity] [varchar](50) NULL,
	[Gender] [varchar](50) NULL,
	[Occupation] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactCases]    Script Date: 2/11/2021 6:43:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactCases](
	[Event] [varchar](20) NULL,
	[PatientKey] [int] NULL,
	[DateKey] [int] NULL,
	[GeographyKey] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FactCases]  WITH CHECK ADD FOREIGN KEY([DateKey])
REFERENCES [dbo].[DimDate] ([DateKey])
GO
ALTER TABLE [dbo].[FactCases]  WITH CHECK ADD  CONSTRAINT [FK__FactCases__Geogr__2B3F6F97] FOREIGN KEY([GeographyKey])
REFERENCES [dbo].[DimGeography] ([GeographyKey])
GO
ALTER TABLE [dbo].[FactCases] CHECK CONSTRAINT [FK__FactCases__Geogr__2B3F6F97]
GO
ALTER TABLE [dbo].[FactCases]  WITH CHECK ADD FOREIGN KEY([PatientKey])
REFERENCES [dbo].[DimPatient] ([PatientKey])
GO
USE [master]
GO
